<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
</head>
<body>
<form th:method="POST" th:action="@{/courses/add}">
    <header>
        <h1>Create a New Course</h1>
    </header>
    <section>
        <label for='name'>Name:</label><input id='name' type='text' name='name' th:value="(${Course} != null ? ${Course.name} : '')"/><br/>
        <label for='desc'>Description:</label><input id='desc' type="text" name='desc' th:value="(${Course} != null ? ${Course.description} : '')"/><br/>
        <label for='teacher'>Teacher:</label>
        <select id="teacher" name="id">
            <option th:if="${Course} != null"
                    th:selected="${Course.teacher != null && Course.teacher.id == teacher.id}"
                    th:each="teacher : ${teachers}"
                    th:text="${teacher.name}+${teacher.surname}"
                    th:value="${teacher.id}" >
            </option>
            <option  th:if="${Course} == null"
                     th:each="teacher : ${teachers}"
                     th:text="${teacher.name}+' '+${teacher.surname}"
                     th:value="${teacher.id}" >
            </option>
        </select>
        <input type='submit' value='Submit'/>
    </section>
</form>
</body>
</html>